#splash {
  background-image: url("../imgs/nightskyo2.jpg");
  background-size: cover;
  background-position: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}

#motto {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
  top: 50%;
  right: 0;
  left: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  border: 8px solid #fff;
  background: rgba(250,250,250,0.2);
  padding: 25px;
  position: absolute;
}

#mottoText {
  font-family: 'Raleway', sans-serif; 
  font-size: 1.8em;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

#soonDiv {
  display: block;
  margin: 0 auto;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}

#soonText {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  color: #fff;
  text-align: center;
}