/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
            TYPOGRAPHY
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
  Inludes all additional font families and
  overrides any of Bootstrap's default
  typography with my own styles
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Muli);

//Links 
a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

//Text
body {
  font-family: $bodyfont;
  font-size: 16px;
}

//Headers
h2,h3,h4,h5,h6 {
  font-family: $bodyfont;
  text-transform: uppercase;
}

h1 {
	font-family: $headerfont;
  text-transform: uppercase;
}

.no-header {
	text-transform: none;
}

//Icon Fonts
.icon-left {
  margin-right: 0.5em;
}

.icon-right {
  margin-left: 0.5em;
}

