/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
            VARIABLES
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
// Colors


//Different Shades


// Theme
$raleway: 'Raleway', sans-serif;


// Other
$easy-ease:   all .15s ease-in-out;    //Quick easing
$gutter:      15px;                    //For spacing and gaps (keeps it consistent)



