/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
            VARIABLES
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
// Colors


//Different Shades


// Theme
$bodyfont: 'Muli', sans-serif;
$headerfont: 'Chewy', cursive;


// Other
$easy-ease:   all .15s ease-in-out;    //Quick easing
$gutter:      15px;                    //For spacing and gaps (keeps it consistent)



