/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
            VARIABLES
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
// Colors
$maindark: #13374C;
$mainlight: #E1EDF4;
$accent: #FFFC9D;


//Different Shades
$maindarkalt: #92BAD8;
$mainlightalt: #A0D6FF;

// Theme
$bodyfont: 'Muli', sans-serif;
$headerfont: 'Nunito', sans-serif;


// Other
$easy-ease:   all .15s ease-in-out;    //Quick easing
$gutter:      15px;                    //For spacing and gaps (keeps it consistent)



