/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
    	CONTENT
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
.jumbotron {
	margin-top: 70px;
}

.work-main {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin-bottom: 50px;
}