/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
    	CONTENT
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
.jumbotron {
	margin-top: 70px;
}

.work-main {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin-bottom: 50px;
  box-shadow: 1px 1px 10px 1px #ccc;
}

.apps-list {
	margin-bottom: 50px;
}

.tech-list {
	margin-bottom: 40px;
}

.btn {
	margin-bottom: 35px;
}