/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
   	 GLOBAL 

     https://coolors.co/app/13374c-fffc9d-a0d6ff-92bad8-e1edf4
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
.jumbotron {
	margin-top: 70px;
}

.center-items {
	display: flex;
  align-items: center;
  justify-content: center;
}