/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
            GLOBAL NAVIGATION
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
.nav-wrapper {
  position: relative;
  z-index: 999;
	height: 60px;
  background-color: $mainlight;
}

.navbar {
  border: none;
  border-radius: 0;
  z-index: 999;
  min-height: 60px;
}

.navbar-inverse {
  .navbar-toggle, .navbar-collapse {
  border: none;
    &:focus, &:hover {
      background-color: transparent;
    }
  }
}

.navbar-nav, .navbar-header {
  margin: 7.5px -15px;
}

.affix {
	top: 0;
	width: 100%;
  -webkit-transition: all .5s ease-in-out;
     -moz-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out;
}

.affix-top {
  position: static;
  top: -35px;
}